/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 10, 2017, 12:24:12 PM
    Author     : mutasem
*/

body{
    margin: 0;
    background-color:#E74C3C;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}

header{
    color: aliceblue;
}

main.box{
    max-width: 650px;
    background-color:white;
    border-radius:10px;
    text-align:center;
    padding:2rem;
    min-height: 200px;
    min-width: 200px;
}

div.box-footer{
    display: flex;
    justify-content: space-between;
}

div.quote{
    font-size: 1.2em;
}

button{
    color: white;
}

